<div class="el-control-field">
  <div class="el-field">
    <!--    <label *ngIf="!!label"-->
    <!--           [ngClass]="showLabel()">-->
    <!--      {{label}}:-->
    <!--    </label>-->
    <div class="el-input-field">
      <div *ngIf="getIconName() as iconName"
           class="icon">
        <fa-icon [icon]="getIcon(iconName)"></fa-icon>
      </div>

      <ng-content></ng-content>

      <div *ngIf="clearBtnExist()"
           class="btn-clear">
        <fa-icon [icon]="getIcon(closeBtnIcon)"
                 (click)="clearInput()">
        </fa-icon>
      </div>
    </div>
  </div>

  <div [ngClass]="setValidate()"
       class="el-validation-field">
  </div>
</div>
