@import "c-title";
@import "c-form";

:host {
  display: block;
  height: 100%;
  padding: 24px;
  width: 100%;

  .c-form {
    &__field {
      width: 300px;
      &_mb {
        margin-bottom: 20px;
      }
    }
  }
}
