<div
  class="wrapper">

  <div class="title  title_mb">
    <h2 class="title__page  title__page_mb">
      Inputs Page
    </h2>
  </div>


  <form [formGroup]="form"
        (ngSubmit)="onSubmit()"
        class="c-form">
    <div class="c-form__field">
      <el-input>
        <input d-el-input-ref
               (currentValue)="currentValue($event)"
               formControlName="name"
               type="text">
      </el-input>
    </div>

    <button class="c-form__btn">
      submit
    </button>
  </form>

</div>
