@import "vars";

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  padding-left: 30px;
  border-bottom: 1px solid $grey-deep;


  .title {
    color: $accent;
  }
}
