@import "vars.scss";

:host {
  display: block;
  border-right: 1px solid $grey-deep;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;

  .nav {
    &__li {
      display: grid;
      align-self: center;
      list-style: none;
      margin-bottom: 28px;
    }

    &__link {
      color: $black;
      text-align: center;

      &:hover {
        color: $accent;
      }

      &_active {
        color: $accent;
      }

    }
  }
}

